.background-image-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    
    width: 100%;

  }
  .blurred-background-title {
    text-align: center;
    word-wrap: break-word;
    backdrop-filter: blur(5px) contrast(35%) brightness(1.5); 
    color: var(gray900);
    border-radius: 5px;
    padding: 2rem 4rem;
    height: fit-content;
    margin: 4rem;
    max-width: 100%;
  
  }
  
  .subtitle-gradient{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin: 2rem 0;
    background: rgb(244,29,26);
    background: linear-gradient(90deg, rgba(244,29,26,1) 20%, rgba(255,255,255,0) 100%);
   
  }
h3 {
    text-transform: uppercase;
    color: var(--bs-grey50);
    font-family: "roboto-bold";
    margin: 0.4rem 0;
  }
  
  
  .button-outline{
    color: var(--bs-primary700)!important;
    background-color: transparent!important;
    background-image: none!important;
    border-color: var(--bs-primary700)!important;
  
   
  }
  
  i{
    margin:0 0.4rem;
  }
  .button-fill{
    color: var(--bs-grey50)!important;
    background-color: var(--bs-primary700)!important;
    border-radius: 0.5rem !important ;
    
  }
.logo-navbar{
    width:70px;
    height:70px; 
    margin-right: 20px;
}
.card-img-top{
    width: auto;
    height: auto;
}
.card-box{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: var(--bs-s-red300);
}
.navbar-container{
        display: flex;
        justify-content: space-between;
    }
    a{
        text-transform: uppercase;
    }


 


    .container-div-footer{

        margin-top: 2rem;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 30px;
        background-color: var(--bs-grey800);
        color: var(--bs-grey50);
       
    }
.columns-div{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 10px;

}
.i-contatti-social{
    font-size: 1.5rem;
    margin: 2%;
}

ul{
    list-style-type: none;
    padding-left: 0;
   
}
li{
                    
                        
                    
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
a{
    color: var(--bs-grey50); 
  
}
@media screen and (max-width: 1152px) {

 .burgermenu-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}


    nav{
        display: flex;
        flex-direction: row-reverse;
       
       
    }    
}


@media screen and (max-width: 780px) {


   
  .container-div-footer{
    
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    
}
  .columns-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px;
}
  p{
    width: 100%;
}
  .i-contatti-social{
    font-size: 1.5rem;
    margin: 2%;
}
}
.footer{
    background-color: darkgray;
}